.user-name {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  padding: 1.5rem;
  color: white;
}

.user-email {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  padding: 1.5rem;
  padding-top: 0px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.cert-delete {
  background-color: rgb(226, 226, 226);
  color: #b51212;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  margin-left: 2rem;
}
.cert-delete:hover {
  cursor: pointer;
}
.upload-photo {
  height: 20rem;
  padding: 2rem;
}
.up-container {
  display: inline-block;
}

.map-c {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}
