.csv-inst {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}


.cnvs{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}
.btn-c{
  position: absolute;
  top: 650px;
  display: flex;
  justify-content:space-around;
  width: 200px;
  margin-left: calc(50% - 100px);
}

.row-btn{
  background: none;
  border: none;
}

.row-img{
  width: 40px;
}
.row-img:hover{
  cursor: pointer;
}

.modal-content h3{
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-family: 'Montserrat';
  border-bottom: 1px solid white;
  width: 80%;
  padding-bottom: 1rem;
  text-align: center;
}

.mail-1{
  margin-top: 80px;
}

a.modal-open {
  color: white;
  text-decoration: none;
}
.modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.modal:target {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  z-index: +1;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  background: #fff;
  border-radius: 4px;
  transform: translate(-50%, -200%);
  transition: all 0.5s ease-in-out;
  perspective: 1000;
  outline: 1px solid transparent;
  opacity: 0;
}
.modal:target .modal-content {
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  z-index: 9999;
  opacity: 1;
}
.modal-close {
  float: right;
  text-decoration: none;
  padding: 22px 22px;
  color: #aaaaaa;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
  z-index: +1;
  text-align: center;
  border-radius: 0 4px 0 0;
}
.modal-close:hover {
  color: white;
}

.modal-area {
  padding: 20px;
}

.upload-input {
  font-size: 1.2rem;
  border: none;
}

.upload-button {
  margin: 2rem;
  padding: 1rem 2rem;
  color: rgba(255, 255, 255, 0.979);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(107, 107, 204);
}
.upload-button:hover {
  cursor: pointer;
}

.home-header {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin: 1rem;
}


.c-2{
  background-color: #282828;
  border-radius:15px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.7);
}
.mail-inp{
  display: block;
  width: 80%;
  background-color: #303030;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  margin: 1.5em 0rem;
  border: 1px solid white;
  margin-left: calc(10% - 10px);
  color: white;
  font-size: 1.1rem;
  
}

.mail-btn{
  margin-left: calc(50%);
transform: translateX(-50%);
background: none;
border: none;

}
.mail-btn-img{
  width: 170px;
}


.count{
  color: white;
  font-size: 0.9rem;
}