.left-c {
  width: 700px;
  height: calc(100vh - 120px);
  padding: 1rem;

  float: left;
}
.right-c {
  float: left;
  width: calc(100% - 800px);

  padding: 1rem;
  height: calc(100vh - 120px);
  float: left;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.left-box {
  border: 3px solid rgb(60, 0, 201);
  width: 700px;
  height: 500px;
  border-radius: 20px;
  border-style: dashed;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  position: absolute;
}
.up-btn {
  background: transparent;
  border: none;
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: rgb(60, 0, 201);
}
.up-btn:hover {
  cursor: pointer;
}
#file-inp {
  visibility: hidden;
}
.delete-up {
  margin: 1rem;
  border: none;
  background-color: rgb(255, 0, 0, 0.8);
  padding: 0.5rem 1rem;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  position: absolute;
  top: 600px;
}
.delete-up:hover {
  cursor: pointer;
}

.up-select {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(60, 0, 201);
  border-radius: 15px;
}

.type-row {
  margin: 1rem 0;
}
.type-label {
  margin-bottom: 1rem;
}
.type-input {
  width: 60px;
  margin-left: 5px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 0.5rem;
}

.logout-btn {
  background-color: transparent;
  border: none;
}

#name,
#event,
#e-date,
#position {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  visibility: hidden;
}

.upload-info {
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1.5rem;
}

.submit-up {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  padding: 0.8rem 2rem;
  margin-top: 2rem;
  background-color: green;
  border: none;
  border-radius: 10px;
}

.submit-up:hover {
  cursor: pointer;
}
