.nav-container {
  width: 100%;
  height: 80px;
  background-color: rgba(236, 236, 236, 0.5);
}
.left-container {
  position: absolute;
  top: 25px;
  left: 10px;
  display: flex;
  justify-content: center;
}
.cert-h {
  padding-left: 1rem;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  margin-top: -5px;
}

.icon-btn {
  border: none;
  background-color: transparent;
}
.right-container {
  position: absolute;
  right: 10px;
  top: -5px;
}
.user-icon {
  width: 50px;
}
.user-icon:hover {
  cursor: pointer;
}
.toggle-div {
  position: absolute;
  top: 70px;
  right: 10px;
  /* background: rgba(0, 0, 0, 0.7); */
  background: rgba(255, 255, 255, 0.05);
backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
    border-radius: 10px;
  border: none;
  text-align: center;
  height: auto;
  padding: 1rem 0.5rem;
}
.toggle-item {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.toggle-div div {
  padding: 0.5rem 20px;
  margin: 0.2rem 0rem;
  border-radius: 10px;
  transition: 0.3s;

}
.toggle-div div:hover {
  transform: scale(1.1);
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.certman{
  color: white;
margin-left: 30px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}
.certman2{
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}

.b{
  margin-top: 25px;
}
.s{
height:30px;
margin-left: 20px;
margin-right: 10px;
position: absolute;
top: 25px;

}
.s-c{
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 60px;
}
.nav-c {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #121024;
}

.logo2 {
  position: absolute;
  left: 2.78%;
  right: 90.62%;
  top: 23.42%;
  width: 95px;
  height: 30px;
}
.nav-right {
  position: absolute;
  right: 20px;
  top: 20px;
}
.nav-link {
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
}

.nav-active:after {
  content: "";
  background: linear-gradient(90deg, #79c6f2 -27%, #201d47 131%);
  display: block;
  height: 2px;
  width: 50px;
  position: absolute;
  top: 25px;
  left: 20px;
}

.nav-active-2:after {
  content: "";
  background: linear-gradient(90deg, #79c6f2 -27%, #201d47 131%);
  display: block;
  height: 2px;
  width: 70px;
  position: absolute;
  top: 25px;
  left: 105px;
}
