.forgot-container {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(238, 229, 229);
}
.forgot-box {
  width: 30rem;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 1rem;
}

.forgot-header {
  color: rgb(102, 102, 190);
  font-size: 2.5rem;
  padding: 1rem;
  font-weight: 700;
}
.forgot-input {
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid rgba(80, 80, 80);
  font-size: 1.2rem;
}

.forgot-submit {
  background-color: rgb(102, 102, 190);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  width: 80%;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.forgot-submit:hover {
  cursor: pointer;
}

#back {
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 700;
}
#back:hover {
  text-decoration: underline;
}
.back-div {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
